{% extends 'base.html' %}

{% block title %}Stock Market|About{% endblock %}
{% block content %}
<h1>Add Stock</h1>
<br/>
      
<form class="d-flex" action="{% url 'add_stock' %}" method="POST">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Enter Ticker" name='stock_item' aria-label="Search">
    <button class="btn btn-outline-info" type="Search">Add Ticker</button>
  </form>
<h1>Stock List</h1>
<br/>
<table class="table table-dark table-hover">
  <thead>
      <tr>
          <th scope="col">Company Name</th>
          <th scope="col">Market Price</th>
          <th scope="col">Previous Market Price</th>
          <th scope="col">Market Volume</th>
          <th scope="col">52 Wk Avg Low Price</th>
          <th scope="col">52 Wk Avg High Price</th>
          <th scope="col">Percentage Change</th>
          <th scope="col">Action</th>
      </tr>
  </thead>
  <tbody>
      {% for data,stock in foo %} 
         <tr>
             <td>{{data.0.longName}}</td>
             <td>{{data.0.regularMarketPrice}}</td>
             <td>{{data.0.regularMarketPreviousClose}}</td>
             <td>{{data.0.regularMarketVolume}}</td>
             <td>{{data.0.fiftyTwoWeekLow}}</td>
             <td>{{data.0.fiftyTwoWeekHigh}}</td>
             <td>{{data.0.fiftyTwoWeekHighChangePercent}}%</td>
             <td><a href="{% url 'delete' stock.id %}">Delete</a></td>
         </tr>
      {% endfor %}
  </tbody>
</table>



{% endblock %}